/* Import for fonts Zilla Slab and Public Sans, as well as Bootstrap styles */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

/* Colors related to Frontwalker */
$base-color-darkblue: #1B3847;
$base-color-lightblue: #597789;
$base-color-bronze: #BA9657;

/* Genral styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Zilla Slab', serif;
	color: $base-color-darkblue
}

p {
	font-family: 'Public Sans', sans-serif;
}

button {
	background-color: $base-color-bronze;
	border: none;

	padding: 15px;
	width: 180px;

	p {
		color: white;
		font-size: 24px;
		margin: 0px;
	}
}

.footer {
	// position: absolute;
	// bottom: 10px;
	margin-top: 10px;
	width: 90%;
	font-size: 20px;

	color: #1B3847;
	display: flex;
	align-items: center;
	justify-content: space-between;

	img {
		height: 30px;
		width: 30px;
	}
}

.heading {
	color: $base-color-bronze;
}

/* Landing page styles */
.content {
	height: 100vh;

	.background {
		background-color: $base-color-darkblue;
		position: fixed;

		height: 60vh;
		width: 100vw;
		z-index: -99999;
	}

	.hero {
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.header {
		color: white;

		h1 {
			font-size: 40px;
		}
	}

	.movie-player {
		border: 5px solid white;
		background-color: #AEB1B3;
		height: 275px;
		width: 275px;
		margin: 15px 0px 30px 0px;

		display: flex;
		align-items: center;
		justify-content: center;

		.play-icon {
			height: 50px;
			width: 50px;
		}
	}

	.footer {
		position: absolute;
		color: $base-color-darkblue;

		bottom: 10px;
		font-size: 20px;
		width: 10%;
	}
}

/* Product overview styles */
.products {
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100vh;
	width: 100vw;

	.items {
		width: 100%;
		margin-bottom: 10px;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h2 {
		margin: 10px 0px 0px 0px;
		font-size: 30px;
	}

	p {
		font-size: 22px;
		margin-bottom: 0px;
	}

	.card {
		width: 90%;
		height: 100px;
		margin: 10px 0px 5px 0px;
		padding: 0px 20px 0px 20px;
		border: none;
		box-shadow: 1px 1px 5px black;

		background-color: #DFDFDF;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		h4 {
			font-size: 24px;
			width: 150px;

			overflow-wrap: break-word;
			word-wrap: break-word;
			word-break: break-word;
		}

		img {
			height: 30px;
			width: 30px;
		}
	}
}

.modal-info {
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		margin-bottom: 30px;
	}

	h4 {
		margin: 0px;
		width: 250px;

		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-word;
		text-align: center;
	}

	p {
		margin-top: 30px;
		width: 200px;

		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-word;
		text-align: center;

		a {
			text-decoration: underline;
			color: #1B3847;
		}
	}
}

/* Calendar styles */
.calendar {
	width: 100vw;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	.accordion {
		margin: 5px 0px 5px 0px;
		width: 90%;

		button {
			font-family: 'Public Sans', sans-serif;
			font-size: 20px;
		}

		.accordion-body {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.counter {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 150px;

			img {
				height: 30px;
				width: 30px;
			}

			.countNumber {
				font-size: 30px;
			}

			.counterButton {
				background-color: #ffffff;
				border: none;

				padding: 10px;
				width: 50%;
			}
		}
	}
}

.react-calendar {
	width: 100%;
	line-height: initial;

	button {
		background-color: #fbfbfb;
	}

	.react-calendar__navigation {
		display: flex;
		margin: auto;
		width: 90%;
		height: 60px;
		margin-bottom: 5px;

		button {
			background-color: #597789;
			color: white;
		}
	}

	.react-calendar__viewContainer {
		width: 90%;
		margin: auto;
	}
}